################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/#1-Multiple of 3 and 5/Multipleof3and5/.vs/Multipleof3and5
